1| #include <behaviors.dtsi>
2| #include <dt-bindings/zmk/keys.h>
3| 
4| / {
5|   behaviors {
6|     hp_pwr: hold_pwr {
7|       compatible = "zmk,behavior-hold-tap";
8|       label = "HOLD_PWR";
9|       #binding-cells = <2>;
10|       tapping-term-ms = <1000>;
11|       quick-tap-ms = <0>;
12|       bindings = <&kp NONE>, <&ext_power EP_TOG>;
13|     };
14|     hp_rst: hold_rst {
15|       compatible = "zmk,behavior-hold-tap";
16|       label = "HOLD_RST";
17|       #binding-cells = <2>;
18|       tapping-term-ms = <1000>;
19|       quick-tap-ms = <0>;
20|       bindings = <&kp NONE>, <&bootloader>;
21|     };
22|   };
23| 
24|   keymap {
25|     compatible = "zmk,keymap";
26|     default_layer {
27|       bindings = <
28|         // Left Half (QWERTZ)
29|         &kp Q,    &kp W,    &kp E,    &kp R,    &kp T,    &kp Z,
30|         &kp A,    &kp S,    &kp D,    &kp F,    &kp G,    &kp H,
31|         &kp Y,    &kp X,    &kp C,    &kp V,    &kp B,    &kp N,
32|         &mo 1,    &kp LCTL, &kp LALT, &kp SPACE, &kp TAB,  &kp ESC,
33| 
34|         // Right Half
35|         &kp U,    &kp I,    &kp O,    &kp P,    &kp LBKT, &kp RBKT,
36|         &kp J,    &kp K,    &kp L,    &kp SEMI, &kp QUOT, &kp BSLH,
37|         &kp M,    &kp COMM, &kp DOT,  &kp SLASH, &kp MINUS, &kp EQUAL,
38|         &kp DEL,  &kp INS,  &kp BSPC, &kp ENTER, &kp LSFT, &trans
39|       >;
40|     };
41| 
42|     layer_1 {
43|       bindings = <
44|         // Left Num/System
45|         &hp_pwr NUM_1 EP_TOG,    &hp_rst NUM_2 BOOTLOADER,
46|         &kp NUM_3,     &kp NUM_4, &kp NUM_5,     &kp NUM_6,
47|         &kp NUM_7,     &kp NUM_8, &kp NUM_9,     &kp NUM_0,
48|         &trans,        &trans,    &trans,        &trans,
49| 
50|         // Right Symbols
51|         &kp EXCL,  &kp AT,    &kp HASH,  &kp DLLR,  &kp PRCNT, &kp CARET,
52|         &kp AMP,   &kp STAR,  &kp LPAR,  &kp RPAR,  &kp UNDER, &kp PLUS,
53|         &kp LBRC,  &kp RBRC,  &kp LCBR,  &kp RCBR,  &kp PIPE,  &kp TILDE,
54|         &trans,    &trans,    &trans,    &trans,    &trans,    &trans
55|       >;
56|     };
57|   };
58| };
59| 
